<div class="d-flex flex-row bd-highlight mb-3 admin-nav">
  <div class="p-2 bd-highlight"><a href="/admin/signup" class="admin-nav-button" >Tạo admin</a></div>
  <div class="p-2 bd-highlight"><a href="/admin/user-manage?page=1" class="admin-nav-button" >Quản lý người dùng</a></div>
  <div class="p-2 bd-highlight"><a href="/admin/orders" class="admin-nav-button" >Quản lý đơn đặt hàng</a></div>
  <div class="p-2 bd-highlight"><a href="/admin/manage-shop" class="admin-nav-button" >Quản lý cửa hàng</a></div>


</div>