{{#with user.rows.[0]}}
<div class="form-container">
    <br>
    <h2 class="favorite-book-align">THÔNG TIN TÀI KHOẢN</h2><br>
    <div class="container">
        <div class="row row-margin align-title">
            <div class="col-sm-4 align-title">
                <h6 class="change-title-right">Họ tên: </h6>
            </div>
            <div class="col">
                <p class="info-border">{{this.name}}</p>
            </div>
        </div>
        <div class="row row-margin align-title">
            <div class="col-sm-4 ">
                <h6 class="change-title-right">Email: </h6>
            </div>
            <div class="col">
                <p class="info-border">{{this.email}}</p>
            </div>
        </div>
        <div class="row row-margin align-title">
            <div class="col-sm-4 ">
                <h6 class="change-title-right">Địa chỉ: </h6>
            </div>
            <div class="col">
                <p class="info-border">{{this.address}}</p>
            </div>
        </div>
        <div class="row row-margin align-title">
            <div class="col-sm-4 ">
                <h6 class="change-title-right">Số điện thoại: </h6>
            </div>
            <div class="col">
                <p class="info-border">{{this.phone}}</p>
            </div>
        </div>
    </div>
</div>
<br>
{{/with}}