<div class="form-container">
    <form name="sign-in-form" method="POST">
        <br>
        <h2 class="favorite-book-align">ĐĂNG NHẬP TÀI KHOẢN</h2><br>
        <div class="container">
            <div class="row row-margin">
                <div class="col-sm-4">
                    <h6 class="change-title-right">Tài khoản:</h6>
                </div>
                <div class="col">
                    <input type="text" name="username" id="account" class="input-form" placeholder="Điền tên tài khoản">
                </div>
            </div>
            <div class="row row-margin">
                <div class="col-sm-4">
                    <h6 class="change-title-right">Mật khẩu:</h6>
                </div>
                <div class="col">
                    <div>
                        <input type="password" name="password" id="password" class="input-form"
                            placeholder="Điền mật khẩu (ít nhất 6 kí tự)">
                        <img src="/images/seepassword.png" class="see-password-img" title="Show password"
                            id="see-password">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="announce-log-in favorite-book-align">{{announce}}</p>
            <p class="favorite-book-align">Quên mật khẩu? Nhấn vào <a id="quen-mk" href="#">đây</a></p>
            <input type="submit" id="submit-signup" name="submit-sign-up" value="Đăng nhập"
                class="center-submit submit-decoration">
        </div>
    </form>
    <br>
</div>
<br>

<!-- forget password modal -->
<div id="quen-mk-modal" class="fp-modal">
    <div class="quen-mk-container">
        <form method="POST" id="fp-form">
            <h3 class="align-center">Lấy lại mật khẩu</h3>
            <p>Hãy nhập email bạn đã đăng ký cho tài khoản của bạn: </p>
            <input type="email" name="fpemail">
            <input type="button" id="fp-submit" value="Gửi mật khẩu đến email">
        </form>
    </div>
</div>

<script>
    var modal = document.getElementById('quen-mk-modal');
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function showModal(e) {
        e.preventDefault();
        modal.style.display = "block";
    }
    document.getElementById('quen-mk').onclick = showModal;

    function sendFpSubmit(e) {
        document.getElementById('fp-form').submit();
    }

    document.getElementById('fp-submit').onclick = sendFpSubmit


    function seePassword() {
        const currentType = document.getElementById('password').type;
        if (currentType === "password") {
            document.getElementById('see-password').title = "Hide password"
            document.getElementById('password').type = "text";
        }
        else {
            document.getElementById('see-password').title = "Show password"
            document.getElementById('password').type = "password";
        }
    }
    document.getElementById('see-password').onclick = seePassword;
</script>